:root{
    --app-primary : #651a97;
    --app-primary-dark : #390958;
    --app-secondary : #910835;
    --app-dark : #2a2a2a;
    --app-light : #ffffff;
    --app-darklight : #ebedf2;
    --app-darklight2 : #beddbd;
    --app-error : #e2445c;
    --app-warning : #f25c05;
    --app-success : #9ebf6b;
}