header{
    /* height:  3rem; */
    background-color: var(--app-light);
    border: 1px solid black;
}

main{
    background-color: var(--app-darklight);
    height: calc(100vh - 9rem);
    border: 1px solid black;

}

nav{
    background-color: var(--app-darklight2);
    border: 1px solid black;

}

footer{
    /* height: 2rem; */
    background-color: var(--app-light);
    border: 1px solid black;

}