<header class="row m-0">
    <ng-content select=".tr-header2"></ng-content>
</header>
<main class="row">
    <nav class="col-4">
        <ng-content select=".tr-nav2"></ng-content>
    </nav>
    <div  class="contents col">
        <ng-content></ng-content>
    </div>
</main>
<footer class="row m-0">
    <ng-content select=".tr-footer2"></ng-content>
</footer>
