<app-ui>
    <div class="tr-header">
        <div class="text-special">
            Bienvenue merci de vous <span>SIGN-UP</span> !
        </div>
    </div>
    <div class="tr-nav">
        <div>
            <h1>UN GROS TITRE</h1>
            <h2>uN TiTRe MoiNS GRoS</h2>
            <h3>un petit titre</h3>
        </div>
    </div>
    <button class="btn btn-warning tr-show">Montrer/Masquer</button>
        <form>
            <div class="row">
                <div class="col">
                    Identifiant
                </div>
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Mot de Passe
                </div>
                <div class="col">
                    <input type="text">
                </div>
            </div>
            
        </form>
        <button class="btn btn-outline-danger m-lg-5" [routerLinkActive]="'active'" [routerLink]="['/', 'login', 'reset']">
            Reset Password
          </button>
          <button class="btn btn-outline-danger m-lg-5" [routerLinkActive]="'active'" [routerLink]="['/','login', 'forgot']">
            Forgot Password
          </button>
          <ng-container class="tr-footer">
            <app-footer></app-footer>
        </ng-container>
</app-ui>
