<!-- <span>{{ title }} app is running!</span>
<div>Le nom de cet appli bancale est : {{title}} </div>
<div>Le compteur est : {{compteur}}
  C'est {{
    compteur > 40 ? "ENVOLE TOI MON PETIT" : (compteur > 20 ? "super Haut" : "un peu bas")
  }}
</div>
<button (click)="increment()">Incrémenter</button> -->

<!-- <app-page-sign-in></app-page-sign-in>  -->

<!-- <app-ui>
  <app-header class="tr-header">
    Gwendal
    <app-header2> Header 2</app-header2>
  </app-header>
  Ce message est une 
  <app-nav class="tr-nav">
    Ma nav
    <app-nav2>Nav 2</app-nav2>
  </app-nav>

  <app-footer class="tr-footer">
    Mon pied de page
    <app-footer2>Footer 2</app-footer2>
  </app-footer>
</app-ui>

<app-ui2>
  <app-header2 class="tr-header2"></app-header2>
  <app-nav2 class="tr-nav2">Nav 2</app-nav2>
  <app-footer2 class="tr-footer2">Footer 2</app-footer2>
  CONTENT
</app-ui2> -->


<!-- <div class="container-fluid">
  <button class="btn btn-outline-danger m-lg-5" [routerLinkActive]="'active'" [routerLink]="['/','login' ,'sign-in']">
    Sign In
  </button>
  <button class="btn btn-outline-dark bi bi-wallet" [routerLinkActive]="'active'" [routerLink]="['/','login', 'sign-up']">
    Sign Up
  </button>
  <button class="btn btn-outline-secondary m-lg-5"  [routerLinkActive]="'active'" [routerLink]="['/', 'customers','list']">
    Page client
  </button>
  <button class="btn btn-outline-success"  [routerLinkActive]="'active'" [routerLink]="['/', 'orders','list']">
    Page Commande
  </button>
  
</div> -->

<div class="d-flex flex-row gap-1">
  <app-nav-button (nav)="onNav($event)" [routes]="['/','login','sign-in']" [label]="'Sign-in'"></app-nav-button>
  <app-nav-button (nav)="onNav($event)" [routes]="['/','login','sign-up']" [label]="'Sign-up'"></app-nav-button>
  <app-nav-button (nav)="onNav($event)" [routes]="['/','customers' , 'list']" [label]="'Customers'"></app-nav-button>
  <app-nav-button (nav)="onNav($event)" [routes]="['/','orders' , 'list']" [label]="'Orders'"></app-nav-button>
</div>
<router-outlet></router-outlet>
<button class="btn btn-dark m-lg-5" (click)="incrementVersion('major')">Inc Version Major</button>
<button class="btn btn-dark m-lg-5" (click)="incrementVersion('minor')">Inc Version Minor</button>
<button class="btn btn-dark m-lg-5" (click)="incrementVersion('patch')">Inc Version Patch</button>


