
<header class="row m-0">
    Header
    <ng-content select=".tr-header"></ng-content>
</header>

<main class="row px-2">
    <!-- <div class="shadow position-fixed">
        Partie l
    </div> -->
    <div class="contents col">
        Main contents
        <ng-content></ng-content> bouteille a la mer
        <div class="ms-3">
            <span class="m-0 p-0" (click)="toggle()">
                <ng-content select=".tr-show"></ng-content>
            </span>
        </div>
    </div>
    <!-- [ngClass]="{'col-4' : true}"  équivaut à class="col-4" -->
    <aside [ngClass]="{'col-4' : true, 'd-none':!afficher}">
        <nav class="scroller">
            Navigation
            <ng-content select=".tr-nav"></ng-content>
        </nav>
    </aside>
</main>

<footer class="row m-0">
    <ng-content select=".tr-footer"></ng-content>
</footer>