header{
    /* height:  3rem; */
    background-color: var(--app-light);
}

main{
    background-color: var(--app-darklight);
    height: calc(100vh - 9rem);
}

aside{
    background-color: var(--app-darklight2);
}

footer{
    /* height: 2rem; */
    background-color: var(--app-light);
}