$bg_color:rgb(83, 198, 236);


.main{
    border: 3px solid var(--color-1);
    color: var(--font-color);
    background-color: $bg_color /* var(--bg-color) */;
}

span{
    background-color: var(--bg-color);
}

.text-special {

    color: darkred;
    
    span{
        font-size: 1.4rem;
    }
    
}