/* You can add global styles to this file, and also import other style files */

@use "./assets/style/font";
@use "./assets/style/layout";
@use "./assets/style/theme";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

h1 {
    font-size: var(--app-h1-fs);
}

h2 {
    font-size: var(--app-h2-fs);
}

h3 {
    font-size: var(--app-h3-fs);
}





